table{
    text-align: center;
    margin: 0% auto;
    border-collapse: collapse;
}
thead{
    background-color: lightgreen;
    color: black;
}
th{
    padding: 2%;
    width: 10%;

}
td{
    padding: 2%;
}
td button{
    width: 40px;
    margin: 5%;
    background-color: khaki;
    color: black;
    border-radius: 10px;

}

.cart-page {
    text-align: center;
}
.total{

    background-color: lightgreen;
    color: black;
    font-weight: bolder;

}
.checkout-btn{
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    font-size: 16px; /* Font size */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Shadow effect */
    transition-duration: 0.3s; /* Transition effect on hover */
    width:100%;

}


.checkout-btn:hover {
    background-color: black;
    box-shadow: 0 12px 20px rgba(0,0,0,0.4);
}
