table{
    text-align: center;
    margin: 0% auto;
    border-collapse: collapse;
}
thead{
    background-color: #282828;
    color: #cccccc;
}
th{
    padding: 2%;
    width: 10%;

}
td{
    padding: 2%;
}
td button{
    width: 40px;
    margin: 5%;
    background-color: grey;
    color: white;
    border-radius: 10px;

}

.cart-page {
    text-align: center;
}
.total{

    background-color: grey;
    color: white;
    font-weight: bolder;

}
.checkout-btn{
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

