.banner2{
    height: 500px;
    width: 1294px;
    margin-top: 3px;
    object-fit: cover;
}
.breakfast{
    width:100%;
}
.breakfast-child {
    display: flex;
    width:100%;

}
.breakfast-child  img{
    width: 307px;
    margin: 58px;
}
.header{
    text-align: center;
    font-family: KacstScreen;
    font-size: 46px;
}
.top{
    margin-top: 25px;
}