body{
    width:100%;
    margin:0%;
}
nav {
    background-color: black;
    padding: 0px 14px;
    display: flex;
    justify-content: flex-end;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 50px;
}

.l2:not(:last-child) {
    margin-right: 20px;
}

.a2 {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 6px 10px;
}

.a2:hover {
    background-color:white ;
    color: black;
}
.a1{
    width: 900px;
}
.a1 p{
    font-size: 18px;
    font-weight: bold;
    color:white;
    margin-left:50px;
}
.logo{
    margin: 1% 0% 0% 0%;
    width: 30%;
}
.row{
    display: flex;
}
.col-1{
    width:35%;
    color: white;
    margin:0% 0% 0% 8%;

}
.col-2{
    margin:0% 0% 0% 4%;
}
footer{
    background-color: black;
}
.col-2-heading
{
color:white;
    margin-left: 50px;

}
.col-3{
    color:white;
    margin:0% 0% 0% 18%;

}
.links-child{
    margin:0% 0% 0% 0%;
    font-weight: lighter;
}
.a3 {
    text-decoration: none;
    color: #fff;
    padding:20px;

}