nav {
    background-color: black;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 50px;
}

li:not(:last-child) {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 10px;
}

a:hover {
    color: #f8f9fa;
}
.a1{
    width: 900px;
}
.a1 p{
    font-size: 18px;
    font-weight: bold;
    color:white;
    margin-left:50px;
}
.logo{
    margin:0% 0% 0% 0%;
    width:25%;
}